body{

margin:0;
font-family:Arial;
background:#f1f5f9;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 25px;

background:#0f172a;
color:white;

}

.menu a{

color:white;
margin-left:20px;
text-decoration:none;

}

.container{

display:grid;

grid-template-columns:320px 1fr 280px;

height:90vh;

}

.sidebar{

background:white;

padding:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

overflow:auto;

}

#map{

height:100%;
width:100%;

}

.rightpanel{

background:white;

padding:20px;

overflow:auto;

box-shadow:-5px 0 20px rgba(0,0,0,0.05);

}

input,textarea,select{

width:100%;
padding:10px;
margin-bottom:10px;

border-radius:6px;
border:1px solid #ddd;

}

button{

background:#2563eb;
color:white;

border:none;

padding:12px;

border-radius:6px;

cursor:pointer;

}

.dashboard{

display:flex;

gap:20px;

padding:30px;

}

.card{

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

width:200px;

text-align:center;

}

.tableArea{

padding:30px;

}

table{

width:100%;

border-collapse:collapse;

background:white;

}

td,th{

padding:12px;

border-bottom:1px solid #eee;

}
