body{
margin:0;
font-family:Arial;
}

#sidebar{
position:absolute;
left:0;
top:0;
bottom:0;
width:300px;
background:white;
padding:15px;
z-index:1000;
overflow:auto;
box-shadow:2px 0 5px rgba(0,0,0,0.3);
}

#map{
position:absolute;
left:300px;
top:0;
right:0;
bottom:0;
}

input, textarea{
width:100%;
padding:5px;
}

button{
padding:8px;
margin-top:5px;
cursor:pointer;
}